[buildout]
develop = .
extends = versions.cfg
newest = false
show-picked-versions = true
update-versions-file = versions.cfg
relative-paths = true
versions = versions
parts = app test

[app]
recipe = zc.recipe.egg
interpreter = python
eggs = ipython
       Setuptools
extra-paths = ${buildout:directory}/gen-py


[test]
recipe = pbp.recipe.noserunner
eggs = ${app:eggs}
       coverage
       boring
defaults = -vd
extra-paths =
    ${buildout:directory}/gen-bazaar/gen-py
    ${buildout:directory}/gen-paid-resource/gen-py
