[buildout]
develop = .
extends = versions.cfg
newest = false
show-picked-versions = true
update-versions-file = versions.cfg
relative-paths = true
versions = versions
parts = app test

[app]
recipe = zc.recipe.egg
interpreter = python
eggs = ipython
       Setuptools
extra-paths = ${buildout:directory}/gen-py


[test]
recipe = zc.zdaemonrecipe
program =
  ${buildout:bin-directory}/bobo
    --static /=${buildout:directory}
    --port 8200
